
   @{
        int result = ViewBag.randomNumber;
    }
     
    @if (result % 2 == 0)
      {
        <h2>The random number generated @result is even</h2>
      }
          else
            {
             <h2>The random number generated @result is odd</h2>
            }





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       
    </div>
</body>
</html>
